.form-container {
    background: #ffffff;
    padding: 24px;
    border-radius: 12px;
    border: 2px solid white; /* estado normal */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;
    max-width: 500px;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    /* 👇 SOLO mientras mantienes presionado el click */
    .form-container:hover {
        border-color: #237e90;
    }

    