h2 {
    margin-bottom: 20px;
    color: var(--text-dark);
}

.page-header {
    text-align: center;
    margin-bottom: 10px;
}

    .page-header h2 {
        display: inline-block;
        padding: 10px 25px;
        background: #b4e9ed;
        color: #246a7a;
        border-radius: 30px;
        font-weight: 600;
        letter-spacing: 0.5px;
        box-shadow: 0 4px 10px rgba(40, 162, 178, 0.15);
    }