.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #237e90;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center; /* horizontal */
}

body {
    overflow-x: hidden;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.footer {
    background-color: #eee;
    text-align: center;
    padding: 10px;
}
