@inherits LayoutComponentBase

<div class="layout">

    <header class="header">
        <div>
            <h2>Sistema de gestion residencial </h2>
        </div>
    </header>

    <main class="main-content">
        @Body
    </main>

    <footer class="footer">
        © 2026 - Proyecto Profundización
    </footer>

</div>