@inherits LayoutComponentBase

<div class="layout">

    <header class="header">
        <h2>Sistema de Mantenimiento</h2>
    </header>

    <main class="main-content">
        @Body
    </main>

    <footer class="footer">
        © 2026 - Proyecto Profundización
    </footer>

</div>