@page "/"
@layout PjrProject.Components.Layout.MainLayout
@rendermode InteractiveServer

<PageTitle>Iniciar Sesión</PageTitle>

<section class="form-section">
<FormContainer>
        <p>Ingresa tus credenciales para continuar</p>
            <InputFlotante Label="Usuario"
                       @bind-Valor="usuario" />
            <InputFlotante Label="Contraseña"
                       @bind-Valor="contrasena" />
            <BotonPro Texto="Iniciar sesion" OnClick="Ingresar" />
         </FormContainer>          


    @if (!string.IsNullOrEmpty(mensajeError))
    {
        <div class="error">@mensajeError</div>
    }

  </section>


@code {
    private string? usuario;
    private string? contrasena;
    private string mensajeError = string.Empty;

    private void Ingresar()
    {
        if (string.IsNullOrWhiteSpace(usuario) || string.IsNullOrWhiteSpace(contrasena))
        {
            mensajeError = "Por favor completa todos los campos.";
            return;
        }

        mensajeError = string.Empty;
        Console.WriteLine($"Usuario: {usuario}");
    }
}