@page "/"
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gestión de Unidad</title>
</head>
<body>

  <!-- ===== BANNER SUPERIOR ===== -->
  <header id="banner">
    <div id="banner-title">
      <h1>Gestión de Unidad</h1>
    </div>
    <div id="banner-login">
      <input type="text" placeholder="Usuario" id="input-usuario" />
      <input type="password" placeholder="Contraseña" id="input-pass" />
      <button id="btn-login">Iniciar Sesion</button>
      <p>prueba</p>
    </div>
  </header>
</body>
</html>
