@page "/prueba-total"
@rendermode InteractiveServer


<h3>Prueba Total Blazor</h3>

<div style="margin-bottom:10px;">
    <input @bind="nombre" placeholder="Escribe tu nombre" />
</div>

<button @onclick="Agregar">Agregar</button>

<p style="color:green; font-weight:bold;">@mensaje</p>

@if (lista.Count > 0)
{
    <h4>Lista:</h4>
    <ul>
        @foreach (var item in lista)
        {
            <li>@item</li>
        }
    </ul>
}

@code {
    private string nombre = "";
    private string mensaje = "";
    private List<string> lista = new();

    private void Agregar()
    {
        if (string.IsNullOrWhiteSpace(nombre))
        {
            mensaje = "Debes escribir un nombre.";
            return;
        }

        lista.Add(nombre);
        mensaje = $"Se agregó: {nombre}";
        nombre = "";
    }
}